
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        #dashboardimage {
            background-color: #dae494;
            height: auto;
            width: auto;
            max-height: 50%;
            max-width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>

}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                <img id="dashboardimage" src="~/images/Oil2UDash.png" />
            </p>
        </div>
        <div class="col-md-2"></div>

    </section>
</main>

